<?xml version="1.0" encoding="utf-8" ?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"

    package="cn.qssq666.rapiddevelopframe">
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.CAMERA" />-->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--    &lt;!&ndash;以上是友盟必须权限&ndash;&gt;
        &lt;!&ndash;百度广告权限&ndash;&gt;-->
    <!-- <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.READ_PHONE_STATE" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
     <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
     <uses-permission android:name="android.permission.RECORD_AUDIO" />
     <uses-permission android:name="android.permission.VIBRATE" />
     <uses-permission android:name="android.permission.CAMERA" />
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    -->


    <!--android:name=".global.SuperAppContext"-->
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="581aab345312dd5891000e5a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="DEFAULT_CHANNEL" />

        <meta-data
            android:name="ZHUGE_APPKEY"
            android:value="c2577a9a370d4ea8b3f26d504220847d" />
        <meta-data
            android:name="ZHUGE_CHANNEL"
            android:value="default" />
        <activity
            android:name="cn.qssq666.rapiddevelopframe.webview.QSSQWebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.qssq666.rapiddevelopframe.activity.PhotoActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>